:root {
	--background-color: var(--light-2);
	--text-color: var(--dark-2);
}

.dark {
	--background-color: var(--dark-2);
	--text-color: var(--light-2);
}

::selection {
	background-color: var(--primary);
	color: var(--primary-contrast);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--typography-main), sans-serif;
	transition: all var(--transition-type) var(--transition-duration);
	appearance: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: var(--base-unit);
}