:root {
	--card-color-background: var(--light-3);
	--card-color-text: var(--dark-2);
}

.dark {
	--card-color-background: var(--dark-3);
	--card-color-text: var(--light-2);
}

.card {
	background-color: var(--card-color-background);
	color: var(--card-color-text);
	border-radius: calc(var(--base-unit) / 2);
	display: flex;
	overflow: hidden;
}

.card:not(.is-inline) {
	flex-direction: column;
}

.card-header {
	overflow: hidden;
}

.card-header > img {
	display: block;
	width: 100%;
}

.card:hover .card-header > img {
	transform: scale(1.1);
}

.card-body {
	padding: calc(var(--base-unit) * 1.5);
	display: flex;
	flex-direction: column;
	gap: var(--base-unit);
	align-items: flex-start;
}

.card-title {
	font-size: calc(var(--base-unit) * 1.375);
	line-height: calc(calc(var(--base-unit) * 1.375) * var(--ratio-line-height));
	font-weight: 700;
}

.card-description {
	font-size: var(--base-unit);
	line-height: calc(var(--base-unit) * var(--ratio-line-height));
	font-weight: 400;
}

.card-actions {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--base-unit) / 2);
	align-items: center;
}

.card.is-inline {
	flex-direction: row;
}

.card.is-inline .card-header {
  max-width: 25%;
}

.card.is-inline .card-header > img {
	height: 100%;
	object-fit: cover;
}

.card.is-inline .card-header.is-1\/2 {
	max-width: calc(100% / 2);
}

.card.is-inline .card-header.is-1\/3 {
	max-width: calc(100% / 3);
}

.card.is-inline .card-header.is-1\/4 {
	max-width: calc(100% / 4);
}

.card.is-inline .card-header.is-1\/5 {
	max-width: calc(100% / 5);
}

.card.is-inline .card-body {
	align-self: center;
}