.text-light { color: var(--light-2); }
.text-dark { color: var(--dark-2); }
.text-primary { color: var(--primary); }
.text-success { color: var(--success); }
.text-warning { color: var(--warning); }
.text-danger { color: var(--danger); }

.bg-light { background-color: var(--light-2); }
.bg-dark { background-color: var(--dark-2); }
.bg-primary { background-color: var(--primary); }
.bg-success { background-color: var(--success); }
.bg-warning { background-color: var(--warning); }
.bg-danger { background-color: var(--danger); }